@import url(highlight__content.css);
@import url(highlight__description.css);
@import url(highlight__mainTitle.css);

.highlight {
    height: 230px;
    background: url('../../../../img/banner.png') center no-repeat;
    background-size: cover;
}

@media screen and (min-width: 600px) {
    .highlight {
        height: 320px;
    }
}