h1, h2, h3, h4, p, a, li, label {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--primary-color);
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

h4 {
    font-weight: 700;
    color: var(--primary-text);
}

p {
    font-weight: 400; 
    color: var(--primary-text);
}

a {
    color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
}

li {
    color: var(--primary-text);
    text-align: center;
    font-weight: 600;
}

label {
    color: var(--light-primary-text);
}

@media screen and (min-width: 600px) {
    h2,h3 {
        font-weight: 700;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}