@import url(header__button.css);
@import url(header__logo.css);
@import url(search.css);
@import url(search__icon.css);
@import url(search__input.css);

.header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 1%;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .header a {
        order: 3;
    }
    .header div {
        order: 2;
    }

}

@media screen and (min-width: 900px) {
    .header {
        padding: 20px 80px;
    } 
}