.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 64px;
    transition: 0.5s ease-out;
    background: var(--primary-color);
}

.search:hover {
    width: 80%;
}

.search input::placeholder {
    color: transparent;
}

@media screen and (min-width: 600px) {
    .search {
        width: 40%;
    }

    .search:hover {
        width: 40%;
    }
    .search input::placeholder {
        color: #ccc;
    }
}





