.search__input {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .search__input {
        position: relative;
        right: 30px;
    }
}

@media screen and (min-width: 900px) {
    
    .search__input {
        right: 50px;
        height: 25px;
    }

}